.screen-header {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons__dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  position: absolute;
  right: 15px;
  top: 60px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(180deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
